
@import './header.scss';

.main{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    min-height: calc(100vh - 123px);
    .tab{
        cursor: pointer;
        flex: 1 1 100%;
        background-position: center center;
        background-repeat: no-repeat;
        // background-size:auto 100%;
        background-size:cover;
        
        // background- ;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 0 8px;
        border-right: 2px solid #fff;
        transition: .25s;
        transition: background-size 0.3s ease-in-out;
        &:last-child{
            border-right: none;
        }
        &::after{
            content: '';
            position: absolute;
            transition: .34s;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .35);
        }
        .info{
            position: relative;
            z-index: 1; 
            color: #fff;
            min-height: 330px;
            // background: green;
            h1{
                margin-top: 0;
                font-weight: 400;
                font-size: 40px;
                line-height: 51px;
            }
            ul{
                li{
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 41px;
                    color: #FFFFFF;
                    margin-bottom: 10px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .click{
            
            position: absolute;
            z-index: 1;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            svg{
                width: 64px;
                height: auto;
                .cls-obsh{
                    fill:none;
                    stroke:#fff;
                    stroke-miterlimit:10;
                    stroke-width:2px;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-direction:normal;
                    animation-timing-function: ease-in-out;
                    animation-delay: 0;
                }
                .cls-1{
                    //hand
                    // transform: matrix(1, 0, 0, 1, -3, -5) scale(1.08);
                    transform: matrix(1, 0, 0, 1, 0, 0) scale(1);
                    opacity: .6;
                    // animation-name: handAnim;
                    animation-duration: 1s;
                    animation-direction:alternate;
                }
                .cls-2{
                    //big circle
                    transform: matrix(1, 0, 0, 1, 9, 9) scale(0.7);
                    opacity: 0;
                    // animation-name: clickAnimBig;
                    animation-delay: 1100ms;
                    animation-duration: 2s;
                }
                .cls-3{
                    //small circle 
                    transform: scale(1.1);
                    // transform: matrix(1, 0, 0, 1, -10, -10) scale(1.5);
                    // animation-name: clickAnim;
                }
            }
        }
        &:hover{
            // background-size: auto 120%;
            &:after{
                backdrop-filter: blur(4px);
            }

            svg{
                .cls-1{
                    //hand
                    animation-name: handAnim;
                }
                .cls-2{
                    animation-name: clickAnimBig;
                }
                .cls-3{
                    //small circle 
                    animation-name: clickAnim;
                }
            }
        }
    }
}


@keyframes handAnim {
    from {
        // opacity: .6;
        // transform: matrix(1, 0, 0, 1, -3, -5) scale(1.08)

        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1)
    }
    to {
        // opacity: 1;
        // transform: matrix(1, 0, 0, 1, 0, 0) scale(1)

        opacity: .6;
        transform: matrix(1, 0, 0, 1, -3, -5) scale(1.08)
    }
  }
@keyframes clickAnim {
    0% {
        opacity: 0;
        transform:  matrix(1, 0, 0, 1, 0, 0) scale(1);
    }
    40%{
        opacity: 1;
        transform:  matrix(1, 0, 0, 1, 0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: matrix(1, 0, 0, 1, -10, -10) scale(1.5);
    }
  }
  @keyframes clickAnimBig {
    0% {
        opacity: 0;
        // transform: matrix(1, 0, 0, 1, 9, 9) scale(0.7);
        transform:  matrix(1, 0, 0, 1, 6, 6) scale(0.8);
    }
    40%{
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 6, 6) scale(0.8);
    }
    100% {
        opacity: 0;
        transform:  matrix(1, 0, 0, 1, 0, 0) scale(1.1);
    }
  }



  @media only screen and (max-width: 600px) {
    .main{
        
        flex-wrap: wrap;
        .tab{
            padding: 20px;
            box-sizing: border-box;
            border-right: none;
            border-bottom: 2px solid #fff;
            min-height: 380px;
            &:last-child{
                border-bottom: none;
            }
            .info{
                min-height: auto;
                h1{}
                ul{
                    li{}
                }
            }
            .click{
                bottom:auto;
                top: 20px;
                left:auto;
                right: 10px;
                transform: translate(0, 0);


                .cls-1{
                    //hand
                    animation-name: handAnim;
                }
                .cls-2{
                    animation-name: clickAnimBig;
                }
                .cls-3{
                    //small circle 
                    animation-name: clickAnim;
                }
            }
        }
    }
  }