.callus{
    box-sizing: border-box;
    padding: 25px 100px;
    margin-bottom: 50px;
    .block{
        border: 2px solid #111010;
        box-sizing: border-box;
        padding: 25px;
        .head{
            width: 100%;
            text-align: center;
            font-size: 24px;
            color: #111010;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .forms{
            display: flex;
            align-items: center;
            justify-content: space-around;

            input, .btn{
                width: 260px;
                box-sizing: border-box;
                font-size: 24px;
                line-height: 31px;
                font-weight: bold;
                border: 2px solid #111010;
                text-align: center;
            }
            input{
                background: #fff;
                &:active, &:focus{
                    // background: #111010;
                    color: #00A2E2;
                    box-shadow: 4px 4px 0 0 #00A2E2;
                    outline: none;
                }
            }
            .btn{
                cursor: pointer;
                transition: .25s;
                box-shadow: 0 0 0 0 #00A2E2;
                &:hover{
                    background: #111010;
                    color: #00A2E2;
                    box-shadow: 4px 4px 0 0 #00A2E2;

                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .callus{
        // display: none;
        padding: 25px 10px;
        .block{
            display: flex;
            flex-direction: column;
            
            .head{
                width: 100%;
                text-align: center;
            }
            .forms{
                display: flex;
                flex-direction: column;
                input, .btn{
                    margin-bottom: 20px;
                }
                input{
                    font-size: 21px;
                    background: #fff;
                    &:active, &:focus, &:hover{
                        box-shadow: 7px 7px 0 0 #00A2E2;
                        // filter: drop-shadow(10 10 0 #000);
                    }
                }
                .btn{
                    &:hover{
                        box-shadow: 7px 7px 0 0 #00A2E2;

                    }
                }
            }
        }
    }
}